extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Lista de Pessoas
  each person in persons
    .card
      .card-body
        h2=person.nome
        h6="Telefone: "+person.telefone
        h6="Data de Nascimento: "+person.data_nascimento
        h6="RG: "+person.rg
        h6="CPF: "+person.cpf
        p
        h6="Endereço:"
        if !person.endereco.complemento
          p=person.endereco.logradouro+", "+person.endereco.numero+" / "+person.endereco.bairro
        else
          p=person.endereco.logradouro+", "+person.endereco.numero+" - "+person.endereco.complemento+" / "+person.endereco.bairro
        p.mt-n3=person.endereco.cep+" - "+person.endereco.cidade+" / "+person.endereco.estado
        
        p
        form(action='/person/delete/'+person._id, method='POST', onsubmit="return confirm('Tem certeza que deseja deletar "+person.nome+"?');")
          input(type='hidden', name='_csrf', value=_csrf)
          button.btn.btn-danger.mt-3(href='/person/delete/'+person._id, type='submit') Deletar Pessoa »          
          a.btn.btn-success.ml-3.mt-3(href='/person/edit/'+person._id, role='button') Editar Pessoa »
  else
    h4.ml-5 Não há pessoas cadastradas.
